@font-face {
    font-family: proxima;
    src: url(font/Proxima\ Nova\ Font.otf);
}

body{
    font-family: proxima;
    /* background-color: #EDf5FF !important; */
}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}

:root {
    --blue: #101b9a;
    --background: #EDF5FF;
    --red: #E91A33;
  }

p{
    margin: 0;
}

h1{
    margin: 0;
}

h3{
    margin: 0;
    font-weight: 600;
}

h4{
    margin: 0;
    font-weight: 800;
}

i{
    color: var(--red);
}

.row{
    margin: 0;
}

.col-md-4{
    padding: 0;
}

.col-md-5{
    padding: 0;
}

.col-md-12{
    padding: 0;
}



/* ---------------------HEADER--------------------- */
header{
    background: linear-gradient( transparent, #d1e5ffab);
}

.upper{
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.342);
    padding-top: 1rem;
} 

.upper .d-flex i{
    line-height: 1.5;
    color: var(--red);
}

.upper .d-flex p{
    padding-left: 8px;
}

.lower nav{
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem 0 2rem 0;
}

.lower .navbar a{
    color: #000;
}

.lower .navbar .dropdown:hover .dropdown-menu{
    display: block;
}

.lower .navbar .nav-item{
    padding: 0 1.5rem;
    font-size: 1.25rem;
}

.lower .navbar .nav-item:hover a{
    color: var(--blue);
    border-bottom: 1px solid var(--red) ;
    transition: all 0.3s ease-in-out;
    transform: scale3d(1.1,1.1,1);
}

.dropdown-toggle::after {
    display: none;
}

header .contacts{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

header .contacts .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    content: "";
}

header .contacts .breadcrumb-item .black-text img{
    color: var(--red);
}

header .contacts .breadcrumb-item .black-text span{
    color: var(--red);
}

header .contacts .d-flex .first .breadcrumb{
    background-color: transparent;
    font-size: 1.3rem;
}

.wave img{
    width: 100% ;
}







/* ---------------------MID-BODY--------------------- */
.mid-body p{
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
    color: #555555;
    padding-bottom: 2rem;
}

.mid-body .upper .image{
    background-color: var(--background);
}

.mid-body .upper{
    border: 0;
    box-shadow: 5px 8px 8px #888888;
    padding-bottom: 3rem;
    padding-top: 0;

}

.mid-body .upper .form h1{
    padding: 3.5rem;
}

.mid-body .upper form{
    padding: 0 3.5rem;
}

.form{
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}

.form-group {
    position: relative;
    margin-bottom: 3rem;

  }

.form-control{
    border: 2px solid #000;
    margin: 0;
    line-height: 2.5;
}
  
input {
    border-radius: 6px;
    position: relative;
    width: 200px;
    margin: 10px;
    line-height: 6ex;
}

label{
position: absolute;
top: -1ex;
z-index: 1;
left: 2em;
background-color: white;
padding: 0 5px;
font-weight: 200;
font-size: 1.3rem;
}

.mid-body .upper .form form .btn{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.5rem 4rem;
    background-color: #d1e5ff;
}

.mid-body .upper .form form .btn p{
    background: linear-gradient(45deg,#101b9a,#E91A33);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    padding: 0;
    transition: all 0.4s ease-in-out;
}

.mid-body .upper .form form .btn:hover{
    transform: scale3d(1.2, 1.2, 1);
    background-color: #888888;
}


.mid-body .upper .image{
    text-align: center;
    position: relative;
}

.mid-body .upper .image .logo .phone{
    padding: 1rem;
}

.mid-body .upper .image .logo .location{
    padding: 1rem;
}

.mid-body .upper .image img{
    position: absolute;
    bottom: -35px;
    right: 0px;
    width: 100%;
}

.mid-body .upper .image p{
    font-size: 1.5rem;
}

.mid-body .business{
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
}

.mid-body .business .owl-carousel{
    padding-top: 1rem;
}

.mid-body .business .owl-carousel .even{
    background-color: #d1e5ff;
}

.mid-body .business .owl-carousel .card{
    border: none;
    width: 100%;
}

.mid-body .business .owl-carousel .odd .card{
    background-color: #d1e5ff;
    width: 100%;
}

.mid-body .business .owl-carousel .card img{
    width: 100%;
    margin: 0 auto;
}

.mid-body .business .owl-carousel .card .bp-1{
    width: 245px;
    height: 245px;
}

.mid-body .business .owl-carousel .even .card .bp-2{
    width: 300px;
    height: 111px;
    margin-top: 67px;
    margin-bottom:67px;
}

.mid-body .business .owl-carousel .card .bp-3{
    width: 148px;
    height: 148px;
    margin-top: 48.5px;
    margin-bottom:48.5px;
}

.mid-body .business .owl-carousel .card .bp-4{
    width: 137px;
    height: 137px;
    margin-top: 54px;
    margin-bottom:54px;
}

.mid-body .business .owl-carousel .card .card-body{
    padding: 0.8rem;
}

.mid-body .business .owl-carousel .card .card-body i{
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.mid-body .business .owl-carousel .card .card-body p{
    font-size: 1rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
}










/* ---------------------FOOTER---------------------- */
footer{
    background-color: var(--background);
    position: relative;
}

footer .wave img{
    transform: rotate(180deg);
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}

.footer{
    width: 80%;
    margin: 0 auto;
    padding-top: 12rem;
}

footer .container-fluid{
    border-bottom: 3px solid #101c9abd;
}

footer .container-fluid .row{
    padding-bottom: 1rem;
}

footer .container-fluid .row .about h3{
    padding-bottom: 2rem;
}

footer .container-fluid .row .about p{
    color: #555555;
    line-height: 170%;
    letter-spacing: 0.09em;
}

footer .container-fluid .row .quick ul li{
    font-size: 1.25rem;
    padding: 0.5rem 0;
}

footer .container-fluid .row .quick ul li a{
    color: #555555;
    font-size: 1rem;
    transition: all 0.4s ease-in-out;
}

footer .container-fluid .row .quick ul li:hover a{
    color: #101b9a;
    transform: scale3d(1.1,1.1,1);
    text-decoration: none;
    
}

footer .container-fluid .row .contact ul li{
    font-size: 1.25rem;
    padding: 1rem 0;
}

footer .container-fluid .row .contact ul li a{
    color: #555555;
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

footer .container-fluid .row .contact ul li:hover a{
    color: #101b9a;
    transform: scale3d(1.1,1.1,1);
    text-decoration: none;
}



footer .container-fluid .row .contact ul li i{
    font-size: 2rem;
    margin-right: 0.5rem;
}

footer .footer-copyright .socials i{
    font-size: 2rem;
    padding: 1rem 2rem;
    transition: all 0.4s ease-in-out;
}

footer .footer-copyright .socials i:hover{
    transform: scale3d(1.4,1.4,1);
    color: #101b9a;
}

footer .footer-copyright{
    align-items: center;
}

footer .footer-copyright .copyrght p{
    font-size: 1rem;
}

